body{

}

header{
  background-color: #28a745;
  color: white;
  padding: 20px;
  padding-left: 150px;
}

section{
  width: 800px;
  margin-top: 40px;
  margin-left: 150px;
}
.card {
  padding: 20px;
}
input[type="text"]{
  width: 250px;
}
button[type="submit"]{
  width: 100px;
  margin-left: 10px;
}
